*.pyc
*.asv
*.mat
*.fig
*.mexmaci64
*.ilxc
libraries/KerasCpp
MATLAB_path_generation/__pycache__/
MATLAB_path_generation/c++
MATLAB_path_generation/data
MATLAB_path_generation/datasets/edinburgh*
MATLAB_path_generation/datasets/thor*
MATLAB_path_generation/datasets/povo*
MATLAB_path_generation/models
MATLAB_path_generation/results
/test