*.pyc
*.asv
*.fig
*.mexmaci64
*.ilxc

control/data/
libraries/KerasCpp/
MATLAB_path_generation/__pycache__
MATLAB_path_generation/c++
MATLAB_path_generation/data
MATLAB_path_generation/datasets/edinburgh*
MATLAB_path_generation/datasets/thor*
MATLAB_path_generation/datasets/povo*
MATLAB_path_generation/models
MATLAB_path_generation/results
postprocessing/figures/
postprocessing/log_files/
postprocessing/videos.nosync/
/test

# Cache
control/+bus_conv_fcns
control/slprj
MATLAB_path_generation/+bus_conv_fcns
MATLAB_path_generation/slprj

control/cluster_control_prototype.slx
control/cluster_control_prototype.slxc
control/path_fitter.cpp
control/path_fitter_wrapper.cpp
control/rtwmakecfg.m
control/traj_classifier.cpp
control/traj_classifier_wrapper.cpp
MATLAB_path_generation/cluster_control_prototype.slxc
libraries/Clothoids/toolbox/SFB__path_fitter__SFB.mat
matlab.mat
